* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

input[type="number"] {
  background: red;
}

input[type="text"] {
  background: pink;
}

textarea {
  background-color: green;
}
