section {
  text-align: center;
  color: white;
  background: url(assets/img/photo-1460602594182-8568137446ce.avif);
  background-size: contain;
}
article {
  background: url(assets/img/photo-1603398749947-87246022fbf9.avif) right
    no-repeat;
  background-size: contain;
}
