* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  min-height: 100vh;
  background: url(assets/img/elliott-engelmann-DjlKxYFJlTc-unsplash.jpg)
    no-repeat center;
  background-size: cover;
  padding-top: 200px;
}

h1 {
  color: white;
  font-family: sans-serif;
  font-size: 50px;
  background: rgba(255, 255, 255, 0.3);
  width: 80vw;
  margin: auto;
  padding: 30px 70px;
  text-align: center;
}

span {
  display: inline-block;
}
