* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 50px;
}

li:first-of-type h5 {
  color: purple;
}

li:nth-of-type(2) h5 {
  color: green;
}

li:nth-of-type(3) h5 {
  color: orange;
}

a {
  margin: 100px;
  padding: 20px;
}

button {
  margin: 20px 60px;
  padding: 10px 20px;
  display: block;
}
