@font-face {
  font-family: "Montserrat";
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}

header {
  min-height: 637px;
  background: url(assets/img/5c9dafb2ccae0482f20dcb0fa3bbbf52.jpeg) no-repeat
    center;
  background-size: cover;
  padding-top: 270px;
}
nav {
  width: 100%;
  padding: 16px 0 16px 50px;
  position: sticky;
  top: 0;

  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -71px;
}

nav div {
  display: flex;
  justify-content: space-between;
  max-width: 1446px;
  margin: 0 auto;
}

nav a {
  font-size: 3.2rem;
  font-weight: bold;
  color: white;
}

nav ul li a {
  color: white;
  font-size: 1.9rem;
  font-weight: bold;
  padding: 10px 10px 5px 10px;
  margin-top: 9px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  border-bottom: 2px solid white;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin-right: 15vw;
  width: 445px;
}

header article {
  text-align: center;
  padding-left: 100px;
  max-width: 312px;
}

h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 50px;
}

header h2 {
  font-weight: bold;
}

main {
  padding-top: 221px;
}

section {
  max-width: 1446px;
  margin: 0 auto;
}

main h2 {
  font-weight: bold;
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 36px;
}

main div {
  height: 7px;
  width: 102px;
  margin: 0 auto 8px auto;
}

main article:first-of-type {
  margin: 0 auto 100px auto;
  max-width: 1446px;
}

article a {
  display: inline-block;
}

article a img {
  width: 400px;
  height: 250px;
  margin: 0px 40px 16px 40px;
}

h3 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 50px;
}

article ul {
  margin-left: 148px;
  margin-bottom: 51px;
}

article ul li {
  list-style: none;
  font-weight: 200;
  margin-bottom: 15px;
  color: #333333;
}

article ul li:nth-of-type(1)::after,
article ul li:nth-of-type(2)::after,
article ul li:nth-of-type(3)::after {
  content: "SOLD OUT";
  color: #ff0000;
}

article ul li:nth-of-type(5)::after,
article ul li:nth-of-type(6)::after {
  content: "AVAILABE";
  color: #008000;
}

article ul li:nth-of-type(4)::after {
  content: "ONLY 4 SPOT AVAILABLE";
  color: #ff0000;
}
